.modal {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal.show {
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: 300px;
    background-color: #d5d5d5;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal-header {
    background-color: #364351;
    color:#fff;
    padding: 15px;
}

.modal-footer {
    background-color: #d5d5d5;
}

.modal-close {
    background-color: #5C8CA7;
    font-size: 15px;
    color: #fff;
    float: right;
    margin: 10px;
}

.question-submit {
    background-color: #5C8CA7;
    font-size: 15px;
    color: #fff;
    float: left;
    margin: 10px;
}

.modal-title {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.modal-body {
    background-color: #d5d5d5;
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}