
/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

/* Main column */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.card_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1560px) {
    .card_container {
        flex-direction: column;
    }
}

.widget_container {
    position: fixed;
    right: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.add_question {
    padding-right: 10px;
}

@media screen and (max-width: 1560px) {
    .card_container {
        flex-direction: column;
    }

    .widget_container {
        flex-direction: column;
    }

    .add_question {
        padding-right: 0px;
        padding-bottom: 5px;
    }
}

