.refresh_wrapper {
    width: 46px;
    height: 46px;
    position: relative;
    margin: auto;
    border-radius: 23px;
    transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
}
.refresh_wrapper:hover {
    box-shadow: 0 0 15px 0px rgba(0, 255, 255, 0.8), 0 0 1px 2px rgba(255, 255, 255, 1), inset 0 0 15px 0px rgba(0, 255, 255, 0.8), inset 0 0 1px 2px rgba(255, 255, 255, 1);
}
.refresh_wrapper:hover .rotator {
    background-color: #0ff;
}
.refresh_wrapper .rotator {
    transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
}
.rotator {
    cursor: pointer;
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background: black;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}
.rotator.active {
    animation: rotateRefresh 1s infinite linear;
    -webkit-animation: rotateRefresh 1s infinite linear;
}
.rotator .circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 5px solid transparent;
    border-radius: 15px;
}
.rotator .arrow {
    position: absolute;
    left: 9px;
    top: 21px;
    border-top: 7.5px solid white;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
@keyframes rotateRefresh {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotateRefresh {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}